.container {
  background-color: #fff;
  border-radius: 4px;
  padding: 25px 22px;
  box-shadow: 0 0 20px 0px black;
}
h2 {
  margin-top: 0;
}
.btn {
  background-color: #F28AB2;
  color: #fff;
  border-radius: rgba(0, 0, 0, 0.4) 0px 5px 15px 0px;
  width: 386px;
  padding: 8px;
  font-family: inherit;
  font-size: 19px;
  text-align: center;
  outline: none;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}