.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  background-color: #F28AB2;
  font-size: 20px;
}